# Temporary and binary files and zip files
__pycache__/*
*.pyc
*.zip

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml
.pytest_cache
.coveragerc

# macOS Desktop Services Store
.DS_Store

# Environment
.venv
*.env

# Evaluation Data files
mcr_meeting/evaluation/data/inputs/raw_audios/*
mcr_meeting/evaluation/data/inputs/reference_transcripts/*
mcr_meeting/evaluation/data/outputs/hypothesis_transcripts/*
mcr_meeting/evaluation/data/outputs/*
mcr_meeting/evaluation/data/summre_dev_split/*
mcr_meeting/evaluation/data/noisy_dataset/*
