name: Update code on pushes and manual run

on:
  push:
    branches:
      - "main"
      - "dev"
      - "data-dev"
      - "test-*"
    tags:
      - "*.*.*"
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - shell: bash
        name: Sync Docker images
        env:
          GITLAB_DSO_URL: ${{ vars.GITLAB_DSO_URL }}
          GITLAB_DSO_TRIGGER_TOKEN: ${{ secrets.GITLAB_DSO_TRIGGER_TOKEN }}
          GITLAB_DSO_MIRROR_PROJECT_ID: ${{ vars.GITLAB_DSO_MIRROR_PROJECT_ID }}
          GITLAB_DSO_REPO_NAME: mcr
        run: |
          curl -X POST --fail -F token=${GITLAB_DSO_TRIGGER_TOKEN} -F ref=main -F variables[GIT_BRANCH_DEPLOY]=${{ github.ref_name }} -F variables[PROJECT_NAME]=${GITLAB_DSO_REPO_NAME} "${GITLAB_DSO_URL}/api/v4/projects/${GITLAB_DSO_MIRROR_PROJECT_ID}/trigger/pipeline"
